$color-1: #ed2024; // red
$color-2: #f2cd37; // Yellow
$color-3: #0055bf; // Blue
$color-4: #237841; // Green
$color-5: #000000; // black

// additional colors

$success: $color-4; // green
$alert: $color-1;  // red

li b{
    color: #ffffff;
}