// breakpoints

$S:     768px;
$M:     1024px;
$L:     1600px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; }
  }
}

// super light grid - it works with the .cd-container class inside style.scss

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}

.page-wrapper {
    column-count: 3;
    /*  grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "intro supporting supporting"
    "intro supporting supporting"*/
    column-fill: balance;
   
   
    
  
    
 
}

.intro header{
    column-span: all;
    text-align: center;
    margin-top: 10em;
    margin-bottom: 10em;

}

.intro {

}

.main {

}
.summary{
     break-inside: avoid;
     background: linear-gradient(
     rgba(0,0,0,.6), rgba(0,0,0,.6)
     ),
         url(images/lego-building.svg) ;
    background-repeat: no-repeat;
    background-size: auto 100vw;
}

.preamble{
     break-inside: avoid;
     background: linear-gradient(
     rgba(0,0,0,.6), rgba(0,0,0,.6)
     ),
         url(images/lego-building.svg) ;
    background-repeat: no-repeat;
    background-size: auto 100vw;
}

.benefits{
    
     background: linear-gradient(
     rgba(0,0,0,.6), rgba(0,0,0,.6)
     ),
    url(images/lego-building.svg) ;
    background-repeat: no-repeat;
    background-size: auto 100vw;
    margin-top: -4em;
    padding-top: 4em;
    margin-bottom: -6em;
    padding-bottom: 6em;
   
   

}


.explanation {
    break-inside: avoid;
     background: linear-gradient(
     rgba(0,0,0,.6), rgba(0,0,0,.6)
     ),
         url(images/lego-building.svg) ;
    background-repeat: no-repeat;
    background-size: auto 100vw;
}

.participation  {
    break-inside:  avoid;
      background: linear-gradient(
     rgba(0,0,0,.6), rgba(0,0,0,.6)
     ),
         url(images/lego-building.svg) ;
    background-repeat: no-repeat;
    background-size: auto 100vw;
   
}

.requirements  {
    break-inside:  avoid;
    background: linear-gradient(
     rgba(0,0,0,.6), rgba(0,0,0,.6)
     ),
         url(images/lego-building.svg) ;
    background-repeat: no-repeat;
    background-size: auto 100vw;
   
}

footer{
    column-span: all;
    text-align: center;

}

.wrapper {
    position: absolute;
    top:0;
    width: 100vw;
}

.design-archives {
    display: none;
}

.zen-resources {
    column-span: all;
    text-align: center;
    margin-top: 5em;
}




