/*Dropdown Menu Styles*/
@include MQ(M) {
    .resources {
        display: none;

        & ~ ul {
            padding: 0px;
            position: absolute;
            left: 50%;
            margin-left: -100px;
            display: inline-block;
            color: rgba(0, 0, 0, 0);
            font-size: 0px;
            width: 0px;
            height: 0px;
            text-align: center;

            &::before {
                content: '';
                display: block;
                background-image: url(images/LegoLogo.svg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                text-align: center;
                width: 200px;
                height: 100px;
                transition: all 1s;
            }

            li {
                margin-left: 20px;
                width: 150px;
                display: block;
                text-align: center;
                height: auto;
                padding: 0px;

            }


            li a {
                background-color: rgba(0, 0, 0, 0);
                color: rgba(0, 0, 0, 0);
                width: 150px;
                margin: auto;
                height: 0px;
                padding: 0px;
                font-size: 0px;
                transition: all 0.5s ease-in;
                display: inline-block;
                position: relative;
                text-decoration: none;
                border: 0px solid rgba(0, 0, 0, 0);
                font-family: $secondary-font;
            }

            &:hover {
                width: auto;
                height: auto;

                li {


                    a {

                        &:link,
                        &:visited {
                            padding: 20px 0px;
                            font-size: 16px;
                            display: block;
                            width: 150px;
                            height: 100%;
                            color: white;
                            background-color: $color-2;
                            border: 6px solid #e7bc0f;

                        }

                        &:hover,
                        &:active {
                            text-shadow: 2px 2px 2px black;
                            transition: color 0.5s;
                        }
                    }
                }
            }

        }
    }
}
