$button-size: 10px;

.resources {
    color: rgba(120, 120, 120, 1);
    font-size: 0px;
    width: 0px;

    & ~ ul {
        width: 8%;
        height: 50px;
        position: relative;
        margin: 0px auto;
        transition: width 1s ease-out;

        &::after {
            content: "Menu";
            color: white;
            font-size: 20px;
            display: block;
            background-image: url(images/LegoTouchIcon.png);
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
            width: 250px;
            height: 100px;
            margin: 10px;
            position: absolute;
            top: 0px;
            left: 0;
            border-radius: 5px;
        }

        li {
            transition: all 1.3s;
            background-color: rgba(0, 0, 0, 0);
            text-align: center;
            width: 0px;
            height: 0%;
            vertical-align: top;
            display: inline-block;

            a:link {
                color: rgba(0, 0, 0, 0);
                text-decoration: none;
                font-size: 0px;
                transition: all 2s;
                transition: color .5s;
                transition-delay: .5s;
                display: block;
                width: 100%;
            }
        }

        &:hover {
            width: 80%;
            margin: 0 auto;
            padding-left: 200px;

            &::after {
                width: 150px;
                left: 0px;
            }

            li {
                display: inline-block;
                width: 150px;
                height: auto;
                padding: 0px;
                margin: 0px 5px;

                a:link {
                    padding: 15.7px 0px;
                    font-size: 12px;
                    display: block;
                    width: 150px;
                    height: 100%;
                    color: white;
                    display: inline-block;
                    position: relative;
                    background-color: red;
                    border: $button-size/5 solid darkred;
                    text-decoration: none;
                    border-radius: 5px;

                    &:hover {
                        text-shadow: 2px 2px 2px black;
                        transition: color 0.5s;
                    }

                    &::before,
                    &::after {
                        content: "";
                        width: 20%;
                        height: $button-size;
                        background-color: red;
                        border: 2px solid darkred;
                        border-radius: 30% 30% 0 0;
                        position: absolute;
                        top: 0;
                        transition: top 1s;
                        z-index: -1;
                    }

                    &::before {
                        left: 12%;
                    }

                    &::after {
                        right: 12%;
                    }

                    &:hover::before,
                    &:hover::after {
                        top: -$button-size;
                    }
                }

                /*Make the transition delayed and have the lego brick be drawn around the text*/

                /*a:link {
               color: #ffffff;
               padding: 15.7px 0px;
               font-size: 12px;
               display: block;
               width: 150px;
               height: 100%;
               
               &:hover{
                  text-shadow: 2px 2px 2px black;
               }
            }*/
            }
        }
    }
}
