@import url('https://fonts.googleapis.com/css?family=Titan+One');
@import url('https://fonts.googleapis.com/css?family=Barlow');

$primary-font: 'Barlow', sans-serif;
$secondary-font:'Titan One', cursive;

p{
   font-family: $primary-font;
    color: white;
    

    
   
}

h2,h3{
    font-family: $secondary-font;
     color: $color-2;
    letter-spacing: .5px;
    
  
    
}
h1{
     font-size: 3.5em;
     font-family: $secondary-font;
     color: $color-2;
}

