@import url('https://fonts.googleapis.com/css?family=Titan+One');
@import url('https://fonts.googleapis.com/css?family=Barlow');

$primary-font: 'Barlow', sans-serif;
$secondary-font:'Titan One', cursive;

p{
   font-family: $primary-font;
    color: white;
    font-size: 1.5em;
    

    
   
}

h2,h3{
    font-family: $secondary-font;
     color: $color-2;
    letter-spacing: .5px;
    font-size: 2em;
    
  
    
}
h1{
     font-size: 3.5em;
     font-family: $secondary-font;
     color: $color-2;
}

footer a:link{
    font-family: $secondary-font;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
} 

footer a:hover{
    color:$color-2;
    text-decoration: underline;
}


