/*@import 'partials/prefix-mixins';*/
@import url("https://fonts.googleapis.com/css?family=Titan+One");
@import url("https://fonts.googleapis.com/css?family=Barlow");
/* line 12, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_color.scss */
li b {
  color: #ffffff; }

/* line 28, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_layout.scss */
.page-wrapper {
  column-count: 3;
  /*  grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "intro supporting supporting"
    "intro supporting supporting"*/
  column-fill: balance;
  background-image: url(images/lego-building.svg); }

/* line 40, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_layout.scss */
.intro header {
  column-span: all;
  text-align: center;
  margin-top: 10em;
  margin-bottom: 10em; }

/* line 48, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_layout.scss */
.explanation {
  break-inside: avoid; }

/* line 52, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_layout.scss */
.participation {
  break-inside: avoid; }

/* line 56, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_layout.scss */
.requirements {
  break-inside: avoid; }

/* line 60, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_layout.scss */
footer {
  column-span: all;
  text-align: center; }

/* line 66, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_layout.scss */
.wrapper {
  position: absolute;
  top: 0;
  width: 100vw; }

/* line 72, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_layout.scss */
.design-archives {
  display: none; }

/* line 76, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_layout.scss */
.zen-resources {
  column-span: all;
  text-align: center;
  margin-top: 5em; }

/* line 7, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_typography.scss */
p {
  font-family: "Barlow", sans-serif;
  color: white; }

/* line 13, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_typography.scss */
h1, h2, h3 {
  font-family: "Titan One", cursive;
  color: #f2cd37; }

/* line 18, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_typography.scss */
h1 {
  font-size: 2.5em; }

/*@import 'partials/color';*/
/*@import 'partials/grid';*/
/* --------------------------------

xBackground

-------------------------------- */
/* line 24, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/style.scss */
body {
  /* this is the page background */
  background-image: url(images/lego-sky-background.svg); }

/* --------------------------------

xPatterns

-------------------------------- */
/*.cd-box {*/
/* this is the container of various design elements - i.e. the 2 logo of the branding section */
/*border: 1px solid $color-4;
    border-radius: 3px;
    background: $color-5;
    box-shadow: 0 1px 1px rgba(#000, .05);
    padding: 6px;
}*/
/* --------------------------------

xNavigation

-------------------------------- */
/*@import 'partials/navigation';*/
/* --------------------------------

xPage title

-------------------------------- */
/*main > h1 {
    color: $color-2;

    @include MQ(L) {*/
/* title goes into the header on big devices */
/*color: $color-5;
    }
}*/
/* --------------------------------

xTypography

-------------------------------- */
/*@import 'partials/typography';*/
/* --------------------------------

xSliding Menu

-------------------------------- */
/* line 3, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_sliding-menu.scss */
.resources {
  color: #787878;
  font-size: 0px;
  width: 0px; }
  /* line 8, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_sliding-menu.scss */
  .resources ~ ul {
    width: 8%;
    height: 50px;
    position: relative;
    margin: 0px auto;
    transition: width 1s ease-out; }
    /* line 15, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_sliding-menu.scss */
    .resources ~ ul::after {
      content: "Menu";
      color: white;
      font-size: 20px;
      display: block;
      background-image: url(images/LegoLogo.svg);
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
      width: 250px;
      height: 100px;
      margin: 10px;
      position: absolute;
      top: 0px;
      left: 0;
      border-radius: 5px; }
    /* line 33, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_sliding-menu.scss */
    .resources ~ ul li {
      transition: all 1.3s;
      background-color: transparent;
      text-align: center;
      width: 0px;
      height: 0%;
      vertical-align: top;
      display: inline-block; }
      /* line 42, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_sliding-menu.scss */
      .resources ~ ul li a:link {
        color: transparent;
        text-decoration: none;
        font-size: 0px;
        transition: all 2s;
        transition: color .5s;
        transition-delay: .5s;
        display: block;
        width: 100%; }
    /* line 54, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_sliding-menu.scss */
    .resources ~ ul:hover {
      width: 80%;
      margin: 0 auto;
      padding-left: 200px; }
      /* line 59, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_sliding-menu.scss */
      .resources ~ ul:hover::after {
        width: 150px;
        left: 0px; }
      /* line 64, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_sliding-menu.scss */
      .resources ~ ul:hover li {
        display: inline-block;
        width: 150px;
        height: auto;
        padding: 0px;
        margin: 0px 5px;
        /*Make the transition delayed and have the lego brick be drawn around the text*/
        /*a:link {
               color: #ffffff;
               padding: 15.7px 0px;
               font-size: 12px;
               display: block;
               width: 150px;
               height: 100%;
               
               &:hover{
                  text-shadow: 2px 2px 2px black;
               }
            }*/ }
        /* line 71, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_sliding-menu.scss */
        .resources ~ ul:hover li a:link {
          padding: 15.7px 0px;
          font-size: 12px;
          display: block;
          width: 150px;
          height: 100%;
          color: white;
          display: inline-block;
          position: relative;
          background-color: red;
          border: 2px solid darkred;
          text-decoration: none;
          border-radius: 5px; }
          /* line 85, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_sliding-menu.scss */
          .resources ~ ul:hover li a:link:hover {
            text-shadow: 2px 2px 2px black;
            transition: color 0.5s; }
          /* line 90, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_sliding-menu.scss */
          .resources ~ ul:hover li a:link::before, .resources ~ ul:hover li a:link::after {
            content: "";
            width: 20%;
            height: 10px;
            background-color: red;
            border: 2px solid darkred;
            border-radius: 30% 30% 0 0;
            position: absolute;
            top: 0;
            transition: top 1s;
            z-index: -1; }
          /* line 104, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_sliding-menu.scss */
          .resources ~ ul:hover li a:link::before {
            left: 12%; }
          /* line 108, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_sliding-menu.scss */
          .resources ~ ul:hover li a:link::after {
            right: 12%; }
          /* line 112, /Users/BriGroom/Desktop/WDD 331/CSS Zen Garden/css-zen-garden/partials/_sliding-menu.scss */
          .resources ~ ul:hover li a:link:hover::before, .resources ~ ul:hover li a:link:hover::after {
            top: -10px; }

/* --------------------------------

xIcons

-------------------------------- */
/*.cd-icons li {*/
/* icons size */
/*width: 32px;
    height: 32px;
}*/
/* --------------------------------

xForm

-------------------------------- */
/*@import 'partials/form';*/
/*@import 'partials/basic-style';*/

/*# sourceMappingURL=style.css.map */