.page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "intro supporting supporting"
        "intro supporting supporting"

}

.intro {
    grid-area: intro;
}

.main.supporting {
    grid-area: supporting;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-areas:
        "explanation benefits"
        "participation requirements"
        "footer footer";
}

.explanation {
    grid-area: explanation;
}
.participation{
    grid-area: participation;
}
.benefits{
    grid-area:benefits;
}
.requirements{
    grid-area:requirements;
}

footer{
    grid-area: footer;
    width: 100vw;
}
