header {
	background-color: $color-2;
}

.cd-logo {
	/* logo box style */
	background-color: $color-1;
	width: 120px;

	@include MQ(M) {
		width: 180px;
	}
}

.cd-main-nav {
	/* main navigation background color - full screen on small devices */
	background: $color-2;

	li a {
		color: $color-5;
		border-color: lighten($color-2, 5%);
	}

	@include MQ(M) {
		li a {
			color: lighten($color-2, 40%);

			&.selected {
				color: $color-5;
				box-shadow: 0 2px 0 $color-1;
			}

			.no-touch &:hover {
				color: $color-5;
			}
		}
	}
}

.cd-nav-trigger span {
	/* hamburger menu */
	background-color: $color-5;

	&::before,
	&::after {
		/* upper and lower lines */
		background-color: $color-5;
	}
}

.nav-is-visible .cd-nav-trigger span {
	/* hide line in the center on mobile when nav is visible */
	background-color: rgba($color-5, 0);

	&::before, &::after {
		/* preserve visibility of upper and lower lines - close icon */
		background-color: rgba($color-5, 1);
	}
}

.cd-download {
	/* download button top-right visible on big devices */
	background-color: lighten($color-2, 10%);

	.no-touch &:hover {
		background-color: lighten($color-2, 15%);
	}

	span {
		/* tooltip */
		background: $color-1;
		color: $color-5;

		&::before {
			/* right arrow color */
			border-color: $color-1;
		}
	}
}

$button-size: 10px;
#navigation ul {
   position: relative;
   z-index: 1;
}
#navigation li {
   display: inline-block;
}

#navigation a {
   color: white;
   display: inline-block;
   position: relative;
   background-color: blue;
   padding: $button-size;
   margin: $button-size*2;
   border: $button-size/5 solid darkblue;
   text-decoration: none;

   &:hover {
      color: lightyellow;
      transition: color 0.5s;
   }
   &::before,
   &::after {
      content: "";
      width: 20%;
      height: $button-size;
      background-color: blue;
      border: 2px solid darkblue;
      border-radius: 30% 30% 0 0;
      position: absolute;
      top: 0;
      transition: top 1s;
      z-index: -1;
   }
   &::before {
      left: 12%;
   }
   &::after {
      right: 12%;
   }
   &:hover::before,
   &:hover::after {
      top: -$button-size;
   }
}